@model MiniShop.Models.ViewModels.UserViewModel

<h2>Bem-vindo, @Model.Name!</h2>

<h2>Painel Administrativo</h2>

<nav class="nav nav-pills">
    <a class="nav-link active" href="@Url.Action("Products","Admin")">Produtos</a>
    <a class="nav-link" href="@Url.Action("Admin", "Sales")">Vendas</a>
</nav>

<div class="mt-4">

</div>




